<h3>New Creature</h3>


<%= simple_form_for(@creature) do |f| %>
  
  <%= f.input :name %>
  <%= f.input :element_type %>
  <%= f.input :description %>
  <hr>
  <%= f.submit "Create Record" %>
<% end %>

<%= link_to "Back to creatures", creatures_path %>
