<h3>New Move</h3>


<%= simple_form_for(@move) do |f| %>
  
  <%= f.input :name %>
  <%= f.input :max_number %>
  <%= f.input :type %>
  <hr>
  <%= f.submit "Create Record" %>
<% end %>

<%= link_to "Back to moves", moves_path %>
